.logo-viajes{
    max-width: 2.5rem;
}
#quienes-somos{
    background-color: black;
    color: white;
}
#destacados{
    background-color: black;
    color: white;
}
#contacto{
    background-color: black;
    color: white;
}
#footer{
    background-color: black;
    color: white;
}
.footer{
    background-color: black;
    color: white;
    
}

